<% if (typeof _.get(forestay.config.attributes[attrKey], ["meta","forestay","populateBy"]) != "string"){ %>
  <p>Please add attribute <strong>populateBy</strong> to your model to display these optoins, or hide this field from the form.</p>
  <% } else { %>
    <select name="<%= attrKey %>">
      <option></option>

    <% forestay.config.attributes[attrKey].availableValues.forEach(function(av){ %>
        <%
          var selected = "";
        %>
        <%

          if(forestay.id){
            var sv = forestay.config.attributes[attrKey].selectedValue[0]
              if(typeof sv != "undefined" && sv) {
                if(_.get(sv,[attrKey, "id"]) == av.id || _.get(sv,[attrKey] == av.id)){
                  selected = "selected"
                }
              }
          } else if(typeof _.get(forestay,["prefill",attrKey]) != "undefined"){
            if(av.id == parseInt(forestay.prefill[attrKey])){
              selected = "selected"
            }
          }
        %>
        <option  value="<%= av.id %>" <%= selected %>><%= av[forestay.config.attributes[attrKey].meta.forestay.populateBy] %></option>
      <% }) %>
    </select>
<% } /* end else popualteBy !=string */ %>
