<% if (typeof _.get(forestay.config.forestay,["actions"]) == "object") { %>
  <%Object.keys(forestay.config.forestay.actions).forEach(function (actionKey) { %>
    <% if(_.get(forestay.config.forestay.actions,[actionKey,"type"]) == "record"){ %>
      <td>
        <% if(typeof _.get(row.actions[actionKey],['link']) !== "undefined") {%>
          <a href="<%= row.actions[actionKey].link %>" class="btn btn-sm btn-success"><%= row.actions[actionKey].label %></a>
        <% } %>
      </td>
    <% } %>
  <% }) %>
<% } %>
 
