<!DOCTYPE html>
<html>
  <head>
    <title>Sails forestay</title>

    <% /* Viewport tag for sensible mobile support */ %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  </head>

  <body>
    <div id="page-wrap">
      <header id="page-header" class="navbar navbar-expand-sm navbar-dark bg-dark flex-column flex-md-row justify-content-between">
        <a class="navbar-brand mr-0" href="/">
          <% if(typeof pageTitle == "string"){ %>
            <%= pageTitle %>
            <% } else { %>Sails Forestay!<% }%>

        </a>
        <div class="navbar-nav flex-row">
          <!-- LOGGED-IN NAVIGATION -->

        </div>
      </header>



      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%- body %>
          </div>
        </div>
      </div>

      <footer id="page-footer" class="navbar navbar-light justify-content-between flex-row-reverse">
        <div class="nav">
          <small class="nav-item"><a class="nav-link text-info" href="https://github.com/madwire-media/sails-generate-forestay">Forestay GitHub<span class="d-none d-sm-inline"></span></a></small>


        </div>
        <small class="copy"></small>
      </footer>
    </div>


    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <style>
   html, body {
   height: 100%;
   margin: 0;
}
   body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        text-align: left;
        background-color: #eee;
       }
      #page-wrap {
           height: 100%;
           height: auto !important;
           min-height: 100%;
           position: relative;
           padding-bottom: 40px;
       }
      footer {
        background: #fff;
        position:absolute!important;
        left:0px;
        bottom:0px;
        width: 100%;
        height: 40px;
        border-top:1px solid rgba(0,0,0,.1)
      }
      table{
        background: white;
      }
   </style>
  </body>
</html>
